<div class="profile-grid">
        <div class="profile-data">
            <div class="pfp-border">
                <div class="pfp">
                    <img src="/assets/img/ME.png" alt="" width="150px" height="150px">
                </div>
            </div>
            <section class="right-side">
                <section class="NBTN">
                    <div class="left">
                        <h2 class="profile-name">Lexi</h2>
                        <div class="profile-button">
                            <button class="btn btn-secondary btn-sm"><a href="mailto:krisafarinas@gmail.com">Message</a></button>
                            <button class="btn btn-secondary btn-sm"><a download="" href="/assets/pdf/Alexies Farinas Resume 2023.pdf"><i class="bi bi-download"></i></a></button>
                            <!-- <button class="menu" type="button" id="BTN"><i class="bi bi-three-dots"></i></button> -->
                            <button class="menu" (click)="dialog.showModal()" id="BTN"><i class="bi bi-three-dots"></i></button>
                        </div>
                    </div>
                </section>
                <ul class="ul-numbers">
                    <li class="li-numbers"><span class="bold">9</span> projects</li>
                    <li class="li-numbers"><span class="bold">23</span> followers</li>
                    <li class="li-numbers"><span class="bold">7</span> following</li>
                </ul>
                <section class="bio">
                    <br>
                    <p>Web Developer</p>
                </section>
            </section>
        </div>
</div>

<main class="main">
    <div class="filter-header">
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]='{exact:true}' routerLink="" class="project"><i class=" ri-grid-line"></i>PROJECTS</a>
        <a [routerLinkActive]="'active'" routerLink="/skills" class="skills"><i class="ri-hashtag"></i>SKILLS</a>
    </div>
</main>

<dialog #dialog>
    <div class="modal-content">
        <div class="socials">
            <div class="modal-linkedin">
                <button class="linkedin">
                    <a href="https://www.linkedin.com/in/akaf/" target="_blank" class="social-link">Linkedin</a>
                </button>
            </div>
            <div class="modal-github">
                <button class="github">
                    <a href="https://github.com/6amrun" target="_blank" class="social-link">Github</a>
                </button>
            </div>
            <div class="modal-close">
                <button class="close" (click)="dialog.close()">Close</button>
            </div>
        </div>
    </div>
</dialog>

