<div class="container">
    <div class="row">
        <div class="col"> 
            <h3>FRONTEND</h3>
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">HTML</li>
                            <li class="skills-level">Basic</li>
                        </div>
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">CSS</li>
                            <li class="skills-level">Advanced</li>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">JavaScript</li>
                            <li class="skills-level">Intermediate</li>
                        </div>
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">Git</li>
                            <li class="skills-level">Intermediate</li>
                        </div>
                    </div>
                </div>
        </div>  
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col"> 
            <h3>BACKEND</h3>
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">PHP</li>
                            <li class="skills-level">Intermediate</li>
                        </div>
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">MySQL</li>
                            <li class="skills-level">Advance</li>
                        </div>
                        </div>
                        <div class="col-6 col-sm-3">
                        <div class="skills-data">
                            <li><i class="bi bi-check-circle-fill"></i></li>
                            <li class="skills-name">Python</li>
                            <li class="skills-level">Basic</li>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>